<form action="/data" method="post" enctype="multipart/form-data">
    <h2>Nombre(s):</h2>
    <input type="text" name="txtNombre" id="txtNombre">
    <h2>Apellido Paterno:</h2>
    <input type="text" name="txtApellidoPaterno" id="txtApellidoPaterno">
    <h2>Apellido Materno:</h2>
    <input type="text" name="txtApellidoMaterno" id="txtApellidoMaterno">
    <h2>Edad:</h2>
    <input type="text" name="txtEdad" id="txtEdad">
    <h2>Lugar de Nacimiento:</h2>
    <input type="text" name="txtLugarNacimiento" id="txtLugarNacimiento">
    <h2>Correo Electrónico:</h2>
    <input type="text" name="txtEmail" id="txtEmail">
    <h2>Fotografía:</h2>
    <input type="file" name="txtFoto" id="txtFoto">
    <br><br>
    <input type="submit" value="Guardar">
</form>